{% for row in items_on_page %}
<style>
.form-popup {
 display: none;
 position: fixed;
 bottom: 0;
 right: 15px;
 border: 3px solid #f1f1f1;
 z-index: 9;
}

</style>





{% endfor %}
<script>
  $(document).ready(function() {
    $('#programTable').DataTable({
      
        dom: "<'row'<'col-sm-6'f><'col-sm-6'l>>" +"<'row'<'col-sm-12 dt-p-left'p>>" +"ti",
        "processing": true,
        "serverSide": true,
        "ajax": "/programs_data",
        "columns": [
        {"data" : 0},
        {"data" : 1},
        {"data" : 2},
        {"data":null,
          "orderable": false,
          "searchable": false,
          "render":function(data, type, row){
            return `<button class="open" data-form-id="${row[0]}" >Open Form</button>
           <div class="form-popup" id="${row[0]}" style="display: none;">
   
           <form action="/p_update" method="post" >

           <input type="hidden" name="program_id"  value="${row[0]}">
           <input type="text" name="program_name" value="${row[1]}" required>
           <select name="college_in" placeholder="college_in">
           {% for m in clg %}
           <option value = {{ m[0] }} ${ row[2] == "{{m[0]}}" ? "selected" : "" }>{{ m[0] }}</option>
           {% endfor %}
           
           <input type="submit" value="Update" onclick="return confirm('Are you sure you want to update this program?')">

           </form>
            <form action="/p_delete" method="post">
           <input type="hidden" name="program_id" value="${row[0]}">
            <input type="submit" value="Delete" value="Update" onclick="return confirm('Are you sure you want to delete this program?')">
      
           </form>
           </div>
            <button type="button" class="close" data-form-id="${row[0]}">Close</button>`
          }
        }]
      })});
</script>