{% extends "base.html" %}
{% block title %}
Students
{% endblock %}
{% block content %}
<div>
  <div>{{ msg2 }}</div>
  <h2>Add Student</h2>
    <form action="/s_create" method="post" enctype="multipart/form-data">
      Input Image: <input type="file" id="profilePictureUpload" name="profilePictureUpload" accept=".jpg, .jpeg, .png"  ></input>
      <input type="text" name="s_id" placeholder="ID">
      <input type="text" name="First_Name" placeholder="First Name">
      <input type="text" name="Last_Name" placeholder="Last Name">
      <select name="Program_ID" placeholder="Program_ID">
      {% for m in prog %}
      <option value = {{ m[0] }}>{{ m[0] }}</option>
      {% endfor %}
      </select>
      <select name="Gender" placeholder="Gender">
      <option value = "Female">Female</option>
      <option value = "Male">Male</option>
      </select>
      <select name="Year Level" placeholder="Year Level">
      <option value = "1">1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5+">5+</option>
      </select>
      <input type="submit" value="Create" value="Update" onclick="return confirm('Are you sure you want to create this user?')">
      
    </form>


</div>

<div  class="mt-3">
<table id="studentsTable" class="table table-striped">
<thead>
<tr>
  <th>Picture</th>
  <th>ID</th>
  <th>Name</th>
  <th>Gender</th>
  <th>Course ID</th>
  <th>Course Name</th>
  <th>Year Level</th>
  <th>Actions</th>
</tr>
</thead>
 <tbody>
    {% include "studentrows.html" %}
  </tbody>
</table>
</div>

<script>
 $(document).ready(function() {

function openForm() {
 document.getElementById("myForm").style.display = "block";
}
function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
    $(document).on("click", ".open",function(){
    var formId = $(this).data('form-id');
    $("#" + formId).show();
  });
  

  $(document).on("click", ".close", function(){
    var formId = $(this).data('form-id');
    $("#" + formId).hide();
  });
});


  




</script>


{% endblock %}