
{% for row in items_on_page %}
<style>
.form-popup {
 display: none;
 position: fixed;
 bottom: 0;
 right: 15px;
 border: 3px solid #f1f1f1;
 z-index: 9;
}
.defaultskin {
 display: none;
}
</style>
<tr>
  


</tr>
{% endfor %}
<script>
$(document).ready(function() {
    $('#studentsTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "/students_data",
        "columns": [
            { "data": 5, 
            "orderable": false,
            "searchable": false,
              "render": function(data, type, row) {
                  if (data && data !== 'No Image') {
                      return '<img src="' + data + '" width="70" height="50" />';
                  } else {
                      return '<img src="/static/imgs/rt.jpg" width="70" height="50" />';
                  }
              } },  
            { "data": 0 },  
              { 
            "data": null,
            "render": function(data, type, row) {
              return row[1] + " " + row[2]; 
            }
            },  
            { "data": 7, 
            "orderable": false,
            "searchable": false  },  
            { "data" : 3 },  
            { "data": 4},
            { "data": 6 },  
            { 
              "data": null, 
              "orderable": false,
              "searchable": false,
              "render": function(data, type, row) {
                  let s_id = row[0];
                  return `
                    <button class="open" data-form-id="${s_id}">Open Form</button>
                    <div class="form-popup" id="form-${s_id}" style="display:none;">
                      <form id = "postid" action="/s_update" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="s_id" value="${s_id}">
                        <input class="files" type="file" name="profilePictureUpload" accept=".jpg,.jpeg,.png">
                        <input type="text" name="First_Name" value="${row[1]}" required>
                        <input type="text" name="Last_Name" value="${row[2]}" required>
                        <select name="Program_ID">
                          {% for m in prog %}
                           <option value = {{ m[0] }}>{{ m[0] }}</option>
                           {% endfor %}
           
                        </select>
                        <select name="Gender" placeholder="Gender">
                         <option value = "Female">Female</option>
                          <option value = "Male">Male</option>
                          </select>
                          <select name="Year Level" placeholder="Year Level">
                          <option value = "1">1</option>
                          <option value = "2">2</option>
                         <option value = "3">3</option>
                          <option value = "4">4</option>
                          <option value = "5+">5+</option>
                         </select>
                        <input type="submit" value="Update" onclick="return confirm('Are you sure you want to update this user?')">
                      </form>
                      <form action="/s_delete" method="post">
                        <input type="hidden" name="s_id" value="${s_id}">
                        <input type="submit" value="Delete"  onclick="return confirm('Are you sure you want to delete this user?')">
                      </form>
                    </div>
                    <button type="button" class="close" data-form-id="${s_id}">Close</button>
                  `;
              }
            }
        ]
    });

});

$(document).on('click', '.open', function() {
    let id = $(this).data('form-id');
    $('#form-' + id).show();
});


$(document).on('click', '.close', function() {
    let id = $(this).data('form-id');
    $('#form-' + id).hide();
});
$(document).on("change", ".files", function() {
        if (this.files[0].size > 2200000) {
            alert("File is too big!");
            this.value = "";
        }
    });
</script>