{% extends "base.html" %}
{% block title %}
Students
{% endblock %}
{% block content %}
<table class="table">
<thead>
<tr>
<th scope="col">ID</th>
<th scope="col">Name</th>
<th scope="col">Course</th>
<th scope="col">College</th>
<th scope="col">Year</th>
<th scope="col">Gender</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row">2023-0493</th>
<td>Mark Otto</td>
<td>BSME</td>
<td>COE</td>
<td>2nd Year</td>
<td>Male</td>
</tr>
<tr>
<th scope="row">2023-0494</th>
<td>Mark Hunt</td>
<td>BSCS</td>
<td>CCS</td>
<td>2nd Year</td>
<td>Male</td>
</tr>
<tr>
<th scope="row">2023-0495</th>
<td>Mark Twain</td>
<td>BEED</td>
<td>CED</td>
<td>2nd Year</td>
<td>Male</td>
</tr>
</tbody>
</table>
{% endblock %}